<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Torre App by Yamil Lima</title>
    <style>
        body {text-align:center; color:white; background-color:black}
        .search-box {width:500px; resize:none; padding:10px; background-color:black; color:white; border:1px solid red}
        .search-box:focus {background-color:maroon}
        button {height:40px; width:100px; background-color:red; color:white; font-weight:bold}
        img {width:150px}
    </style>
    <script>
    document.addEventListener("keydown", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("submit").click();
        }
    });
    </script>
</head>
<body>
<img src="https://image.freepik.com/free-photo/glass-chess-rook-black-isolated-background_56854-700.jpg">
<h2>Torre App by Yamil Lima</h2>
<p>Look for jobs in Torre and win prizes. Write your skill here:</p>
    <form id="form" method="POST">{% csrf_token %}
        <p>
        {% for field in form %}
            {{ field }}
        {% endfor %}
        </p>
        <button id="submit" type="submit" value="submit">SEARCH</button>
    </form>
<br><br>
<p>You will receive points for looking for jobs and win prizes from our sponsors.</p>
    <p>In the future, we hope governments will provide subsidies to active job seekers through our ranking system.</p>
</body>
</html>